body {
	margin: 0;
	padding: 0;

}
.navbar {
	margin-top: 25px;
	margin-bottom: 25px;

}

.subtitle-container {
	border-bottom: 2px solid #ccc;
}

#subtitle {
	margin: 0;
	color: #ccc;
}

#list-commands, #api-commands {

}

#list-commands {
	border: 1px solid #ddd;
	height: 600px;
}

#api-commands {
	background-color: #646464;
	color: #fff;
	height: 600px;
}

.content-body {
	
}

pre {
	font-family: monospace;
	background-color: #fff;
	width: em(440);
	padding: 0.5em;
	border-radius: .25em;
	box-shadow: .1em .1em .5em rgba(0, 0, 0, .45);
	line-height: 0;
	counter-reset: line;
}

#api-commands .content-body p {
	display: block;
	line-height: 0.5rem;
	font-size: 1em;
	&:before {
		counter-increment: line;
		content: counter(line);
		display: inline-block;
		border-right: 1px solid #ddd;
		padding: 0.5em;
		margin-right: .5em;
		color: #888;
	}
}

p {
	margin: 0;
}