body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	height: 100%;
}


/* Global */


#setting, #command {
	
}

.sub {
	font-size: 12px;
	color: #a8a8a8;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;

}

.config {
	padding: 10px;
	margin: 0;
}

/* Header */

header {
	border-bottom: 3px solid #e8491d;
	min-height: 70px;
	margin: 10px 0;
	padding: 10px 0;
}

.highlight {
	color: #e8491d;
}

#title, #logo {
	margin: 0;
}


#subtitle {
	font-size: 12px;
	color: #ccc;
	margin: 0;
	padding: 0;
}

#main {
	margin-top: 20px;
}

/* Sidebar */ 

#command {

}

#command h3 {
	margin: 0;
	display: inline;
}

#command textarea {
	resize: none;
	width: 100%;
	height: 300px;
	display: block;
	background: #333333;
	border: none;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;

}

#setting {
	border: 1px solid #e0e0e0;
}

.box-gray {
	background-color: #eee;
	margin: 0;
}

/* Buttons */

.box-gray .btn {
	background-color: #eee;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 0px;
	width: 100%;
}

.box-gray .btn:hover {
	background-color: #fff;
}

.dropdown {

}

.config > .dropdown > .dropdown-menu {
	
}

.config > .dropdown > .btn {
	width: 100%;
	background-color: white;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 0px;
	text-align: left;
	padding: 3px;
	font-size: 14px;
}

.config > .dropdown > .btn::after {
	margin-left: 85%;

}

.config > .dropdown > .dropdown-menu {
	font-size: 14px;
}

/* Menu for the tabs */

.labels {
	font-size: 14px;
	font-weight: bold;
}



/* Footer */

footer {

}

footer #footer {
	margin-bottom: 0;
}

/* Media Queries */

@media (max-width: 991px) {
	#title {
		font-size: 2rem;
	}

}