body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	height: 100%;
	font-family: "Helvetica";
}

/* Global */


#setting, #command {

}

.sub {
	font-size: 12px;
	color: #a8a8a8;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;

}

.config {
	padding: 10px 0;
	margin: 0;
}

*:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.container {

}

.row {
	margin: 0;
	
}

.col-md-12 {

}

/* Header */

header {
	border-bottom: 3px solid #FF8C00;
	min-height: 70px;
	padding: 10px 0;
	box-sizing: border-box;
	background: #222;
}

.highlight {
	color: #FF8C00;
}

#title_container {
	
}

#logo {
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	padding-top: 5px;
}

#title_container, #logo {
	
}

#logo img {
	width: 200px;
}

#title {
	padding-top: 10px;
	color: #fff;
}


#subtitle {
	font-size: 14px;
	color: #ccc;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

#main {
	margin-top: 20px;
	margin-bottom: -50px;
}

/* Dialog Box */
element {
	width: 500px !important;
}
#dialog-message {
	
}

/* Sidebar */

#command {

}

#command h3 {
	margin: 0;
	display: inline;
}

#command textarea {
	resize: none;
	width: 100%;
	height: 300px;
	display: block;
	background: #333333;
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	overflow-x: none;
	padding: 15px;

}

#setting {
	border: 1px solid #e0e0e0;
}

.box-gray {
	background-color: #eee;
	margin: 0;
}

/* Buttons */

.box-gray .btn {
	background-color: #eee;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 0px;
	width: 100%;
	border: 0px;
}

.box-gray .btn:focus {
	border-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;

}

.box-gray .btn:hover {
	background-color: #fff;
}

.box-gray > div > .active {
	background-color: #fff;
}

#button_container #clear, #button_container #copy{
	border-radius: 0px;
	font-weight: bold;
	border: 1px solid #FF8C00;
	color: #fff;
	background-color: #FF8C00;
}

#button_container #clear:hover, #button_container #copy:hover {
	border: 1px solid #FF8C00;
	color: #FF8C00;
	background-color: #fff;
}

#button_container #clear:focus, #button_container #copy:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;

}

#button_container #test {
	border-radius: 0px;
	font-weight: bold;

}

#button_container #test:hover {
	background-color: #fff;
	color: #28a745;;
}

#div_command {

}

#div_command > #ip_container {	

}

#div_command > #ip_container > #ip_address {
	width: 100%;
	padding: 10px;
	font-weight: bold;
	border-radius: 0px;
	margin-bottom: 10px;
	border: 1px solid #999;
	background-color: #fff;
	opacity: 1;

}

#div_command > #ip_container > #ip_address::placeholder {
	opacity: 1;
	color: #ddd;
}


.dropdown {

}

.config > .dropdown > .dropdown-menu {

}

.config > .dropdown > .btn {
	width: 100%;
	background-color: white;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 0px;
	text-align: left;
	padding: 3px;
	font-size: 14px;
}

.config > .dropdown > .btn::after {
	margin-left: 85%;

}

.config > .dropdown > .dropdown-menu {
	font-size: 14px;
}

/* Menu for the tabs */

.labels {
	font-size: 14px;
	font-weight: bold;
}

/* Range Slider CSS */
#custom-handle, #custom-handle1 {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

/* Alarm Output Radio boxes */

.form-check-inline {
	margin: 0;
}

#button_container {
	padding: 10px 0;
}
/* Footer */

/* Media Queries */

@media (max-width: 991px) {
	#title {
		font-size: 2rem;
		padding-top: 5px;
	}

}

@media (max-width: 768px) {

	#title_container {
		display: none;
	}

	#logo img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 600px) {
	#logo img {
		width: 200px;

	}


}