body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	height: 100%;
}

/* Global */


#setting, #command {

}

.sub {
	font-size: 12px;
	color: #a8a8a8;
}

.padding-0 {
	padding-right: 0;
	padding-left: 0;

}

.config {
	padding: 10px 0;
	margin: 0;
}

*:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Header */

header {
	border-bottom: 3px solid #FF8C00;
	min-height: 70px;
	margin: 10px 0;
	padding: 10px 0;
	box-sizing: border-box;
}

.highlight {
	color: #FF8C00;
}

#title_container {
	border: 1px solid black;
}

#logo {
	overflow: auto;
	border: 1px solid black;
	overflow-y: hidden;
	overflow-x: hidden;
}

#title_container, #logo {
	margin: 0;
}

#logo img {
	width: 200px;
}

#title {
	padding-top: 10px;

}


#subtitle {
	font-size: 12px;
	color: #ccc;
	margin: 0;
	padding: 0;
}

#main {
	margin-top: 20px;
}

/* Sidebar */

#command {

}

#command h3 {
	margin: 0;
	display: inline;
}

#command textarea {
	resize: none;
	width: 100%;
	height: 300px;
	display: block;
	background: #333333;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	overflow-x: none;

}

#setting {
	border: 1px solid #e0e0e0;
}

.box-gray {
	background-color: #eee;
	margin: 0;
}

/* Buttons */

.box-gray .btn {
	background-color: #eee;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 0px;
	width: 100%;
	border: 0px;
}

.box-gray .btn:focus {
	border-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;

}

.box-gray .btn:hover {
	background-color: #fff;
}

.box-gray > div > .active {
	background-color: #fff;
}

#button_container .btn {
	border-radius: 0px;
	border: 1px solid #FF8C00;
	color: #FF8C00;
	font-weight: bold;
}

#button_container .btn:hover {
	background-color: #FF8C00;
	color: #fff;
}

#button_container .btn:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;

}
.dropdown {

}

.config > .dropdown > .dropdown-menu {

}

.config > .dropdown > .btn {
	width: 100%;
	background-color: white;
	color: #000;
	border: 1px solid #ccc;
	border-radius: 0px;
	text-align: left;
	padding: 3px;
	font-size: 14px;
}

.config > .dropdown > .btn::after {
	margin-left: 85%;

}

.config > .dropdown > .dropdown-menu {
	font-size: 14px;
}

/* Menu for the tabs */

.labels {
	font-size: 14px;
	font-weight: bold;
}

/* Range Slider CSS */
  #custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

/* Alarm Output Radio boxes */

.form-check-inline {
	margin: 0;
}

#button_container {
	padding: 10px 0;
}
/* Footer */

footer {

}

#footer {
	margin-bottom: 0;
}

/* Media Queries */

@media (max-width: 991px) {
	#title {
		font-size: 2rem;
		padding-top: 5px;
	}

}

@media (max-width: 768px) {

	#title_container {
		display: none;
	}

	#logo img {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 600px) {
	#logo img {
		width: 200px;
	}


}